/*
 
 Yb    dP    db    88""Yb 88    db    88""Yb 88     888888 .dP"Y8 
  Yb  dP    dPYb   88__dP 88   dPYb   88__dP 88     88__   `Ybo." 
   YbdP    dP__Yb  88"Yb  88  dP__Yb  88""Yb 88  .o 88""   o.`Y8b 
    YP    dP""""Yb 88  Yb 88 dP""""Yb 88oodP 88ood8 888888 8bodP' 
 
*/
:root {
    /* Colores */
    --textoHeader    : #FFFFFF;
    --lineaSeparador : #E1E1E1;
    --botonPrimario  : #000000;
    --botonSecundario: #784D3C;
    /* Fuentes */
    --fuentePrimaria  : 'Open Sans', sans-serif;
    --fuenteSecundaria: 'PT Sans', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5% /** 1rem = 10px **/
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrimaria);
    font-size: 1.6rem;
    line-height: 2;
}
/*
 
  dP""b8 88      dP"Yb  88""Yb    db    88     888888 .dP"Y8 
 dP   `" 88     dP   Yb 88__dP   dPYb   88     88__   `Ybo." 
 Yb  "88 88  .o Yb   dP 88""Yb  dP__Yb  88  .o 88""   o.`Y8b 
  YboodP 88ood8  YbodP  88oodP dP""""Yb 88ood8 888888 8bodP' 
 
*/
.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
h1, h2, h3, h4 {
    font-family: var(--fuenteSecundaria);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
    line-height: 1.2;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    max-width: 100%;
}
/*
 
 88   88 888888 88 88     88 8888b.     db    8888b.  888888 .dP"Y8 
 88   88   88   88 88     88  8I  Yb   dPYb    8I  Yb 88__   `Ybo." 
 Y8   8P   88   88 88  .o 88  8I  dY  dP__Yb   8I  dY 88""   o.`Y8b 
 `YbodP'   88   88 88ood8 88 8888Y"  dP""""Yb 8888Y"  888888 8bodP' 
 
*/
.centrar-texto {
    text-align: center;
}
.no-margin {
    margin: 0;
}
/*
 
  dP""b8 88""Yb 88 8888b.  
 dP   `" 88__dP 88  8I  Yb 
 Yb  "88 88"Yb  88  8I  dY 
  YboodP 88  Yb 88 8888Y"  
 
*/
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
    }
    .columna-4{
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columna-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columna-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
}
/*
 
 88""Yb  dP"Yb  888888  dP"Yb  88b 88 888888 .dP"Y8 
 88__dP dP   Yb   88   dP   Yb 88Yb88 88__   `Ybo." 
 88""Yb Yb   dP   88   Yb   dP 88 Y88 88""   o.`Y8b 
 88oodP  YbodP    88    YbodP  88  Y8 888888 8bodP' 
 
*/
.btn{
    display: block;
    padding: 1rem 3rem;
    text-align: center;
    margin: 2rem 0;
    color: var(--textoHeader);
    text-decoration: none;
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
}
@media (min-width: 768px) {
    .btn {
        display: inline-block;
    }
}
.btn-primario{
    background-color: var(--botonPrimario);
}
.btn-secundario{
    background-color: var(--botonSecundario);
}
/*
 
 88  88 888888    db    8888b.  888888 88""Yb 
 88  88 88__     dPYb    8I  Yb 88__   88__dP 
 888888 88""    dP__Yb   8I  dY 88""   88"Yb  
 88  88 888888 dP""""Yb 8888Y"  888888 88  Yb 
 
*/
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-header {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 60rem;
    background-size: cover;
}
.site-header a {
    color: var(--textoHeader);
    text-decoration: none;
}
.site-header h1 {
    text-align: center;
    font-weight: 400;
}
.site-header h1 span {
    font-weight: 700;
}
/* Navegación */
.navegacion a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: var(--textoHeader);
    text-decoration: none;
}
@media (min-width: 768px) {
    .navegacion a {
        display: inline;
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
/* Header texto */
.texto-header {
    color: var(--textoHeader);
    text-align: center;
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .texto-header {
        margin-top: 15rem;
    }
}
.texto-header p {
    font-size: 2.2rem;
}

/*
 
  dP""b8  dP"Yb  88b 88          88""Yb 88""Yb 88 88b 88  dP""b8 88 88""Yb    db    88     
 dP   `" dP   Yb 88Yb88 ________ 88__dP 88__dP 88 88Yb88 dP   `" 88 88__dP   dPYb   88     
 Yb      Yb   dP 88 Y88 """""""" 88"""  88"Yb  88 88 Y88 Yb      88 88"""   dP__Yb  88  .o 
  YboodP  YbodP  88  Y8          88     88  Yb 88 88  Y8  YboodP 88 88     dP""""Yb 88ood8 
 
*/
.contenido-principal{
    display: flex;
    flex-wrap: wrap;
}

.blog,
.cursos {
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%; */
    flex: 0 0 100% /*Es lo mismo que lo anterior pero resumido */
}
.cursos{
    order: -1;
}
@media (min-width: 768px) {
    .contenido-principal {
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
    }
    .cursos {
        flex-basis: calc(33.3% - 4rem);
        order: 2;
    }
}

/*
 
  dP"Yb  88""Yb  dP""b8 88  dP"Yb  88b 88    db    88     
 dP   Yb 88__dP dP   `" 88 dP   Yb 88Yb88   dPYb   88     
 Yb   dP 88"""  Yb      88 Yb   dP 88 Y88  dP__Yb  88  .o 
  YbodP  88      YboodP 88  YbodP  88  Y8 dP""""Yb 88ood8 
 
*/
/* Otra manera de presentarlo con imagenes pequeñas*/
/* .entrada-blog{
    display: flex;
    justify-content: space-between;
}
.entrada-blog .imagen {
    flex: 0 0 40%;
}
.entrada-blog .contenido-blog{
    flex: 0 0 calc(60% - 2rem)
} */

/* Ingresar una linea como separadaor */
.entrada-blog {
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--lineaSeparador);
}
.entrada-blog:last-of-type{
    border: none;
}

/*
 
  dP""b8 88   88 88""Yb .dP"Y8  dP"Yb  .dP"Y8     .dP"Y8 88 8888b.  888888 88""Yb    db    88""Yb 
 dP   `" 88   88 88__dP `Ybo." dP   Yb `Ybo."     `Ybo." 88  8I  Yb 88__   88__dP   dPYb   88__dP 
 Yb      Y8   8P 88"Yb  o.`Y8b Yb   dP o.`Y8b     o.`Y8b 88  8I  dY 88""   88""Yb  dP__Yb  88"Yb  
  YboodP `YbodP' 88  Yb 8bodP'  YbodP  8bodP'     8bodP' 88 8888Y"  888888 88oodP dP""""Yb 88  Yb 
 
*/
.cursos-lista{
    padding: 0;
    list-style: none;
}
.curso{
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid var(--lineaSeparador);
}
.curso:last-of-type{
    border: none;
}
.curso p{
    font-family: var(--fuenteSecundaria);
    font-weight: 700;
    font-size: 2rem;
}
.curso p span,
.curso p.descripcion{
    font-weight: 400;
}

/*
 
 888888  dP"Yb   dP"Yb  888888 888888 88""Yb 
 88__   dP   Yb dP   Yb   88   88__   88__dP 
 88""   Yb   dP Yb   dP   88   88""   88"Yb  
 88      YbodP   YbodP    88   888888 88  Yb 
 
*/
.site-footer{
    background-color: var(--botonPrimario);
    padding: 3rem;
    margin-top: 4rem;
}
.site-footer p{
    color: var(--textoHeader);
    font-size: 4rem;
    font-family: var(--fuenteSecundaria);
    font-weight: 400;
    text-align: center;
}
.site-footer p span{
    font-weight: 700;
}
